:root {
    --first-color: #e7eaf6; 
    --second-color:#113f67; 
    --third-color:#a2a8d3; 
    --fourth-color:#38598b; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131e2e;
    user-select: none;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 550px;
    background-color: transparent;
}
h1 {
    margin-bottom: 15px;
    color: var(--first-color);
    font-size: 4em;
}
#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 100%;
    border: 1px solid var(--second-color);
    border-radius: 3%;
    padding: 10px 0;
    background-color: var(--third-color);
    box-shadow: 3px 3px 3px var(--fourth-color);
}
#screen {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: auto;
    width: 90%;
    height: 100px;
    border-radius: 3%;
    background-color: var(--fourth-color);
    border: 1px solid var(--second-color);
    font-family: "Orbitron", sans-serif;
}
#littleDisplay {
    color: var(--third-color);
    font-size: 1em;
    align-self: self-end;
}
#mainDisplay {
    color: var(--first-color);
    font-size: 3em;
}
#buttons {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
#clear, #zero {
    width: 100%;
    border-radius: 30px;
}
#clear {
    grid-column: 1 / 4;
}
#zero {
    grid-column: 1 / 3;
}
.regularBtns, .biggestBtn, .biggerBtn {
    box-shadow: 2px 2px 2px var(--fourth-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 1.5em;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
}
.regularBtns:hover, .biggestBtn:hover, .biggerBtn:hover {
    background-color: var(--fourth-color);
    color: var(--first-color);
}
.regularBtns:active, .biggestBtn:active, .biggerBtn:active {
    background-color: #446ba5;
}
.disabled {
    pointer-events: none;
}
